<h2>サークル一覧</h2>

<table class="table">
  <thead>
    <tr>
      <th>サークル名</th>
      <th>種類</th>
      <th>詳細</th>
    </tr>
  </thead>
  <tbody>
    <% @clubs.each do |c|%>
      <tr>
        <td><%= link_to c.name,club_path(c.id) %></td>
        <td><%= c.active %></td>
        <td><%= c.detail %></td>
      </tr>
    <% end %>
  </tbody>
</table>
