<div class="container">
  <h2>生徒一覧</h2>
  <%= form_tag(students_path,:method => 'get', remote: true) do %>
  <%= text_field_tag :search, params[:search] ,placeholder: "生徒名で検索" %>
  <%= submit_tag '検索', :name => nil ,class:'btn btn-primary btn-sm'%>
  <% end %>
  <div class="students">
    <%= render(partial:'students/students.html.erb', locals: {students: @students})%>
  </div>

  

</div>
