// Place all the styles related to the clubs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.profile {
  .club_image {
    #club_image {
      margin: 10px auto;
      display: block;
      border-radius: 50%;
    }
  }
  .club_name {
    text-align: center;
    font-weight: bold;
  }
  .club_detail {
    text-align: center;
  }
  .club-button {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }
}
