// Place all the styles related to the clubs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.profile {
  background-color: rgb(204, 245, 248);
  border: solid black;
  border-radius: 10%;
}
.image {
  #club_image {
    margin: 0 auto;
    display: block;
  }
}

.club-button {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
