// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.data {
  margin-top: 0.6em;
  color: #81878b;
}
.data li {
  width: 32%;
  text-align: center;
  display: inline-block;
  font-size: 1.5em;
  font-family: "Lato";
  border-right: solid 1px #bdc3c7;
}
.data li:last-child {
  border: none;
}
.data li span {
  display: block;
  text-transform: uppercase;
  font-family: "Quicksand";
  font-size: 0.5em;
  margin-top: 0.6em;
  font-weight: 700;
}
