// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.event-box {
  background-color: rgb(252, 19, 19);
  border-radius: 10%;

  .calendar-event {
    font-size: 7px;
    color: rgb(255, 255, 255);
  }
}
