// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.event-box {
  background-color: rgb(252, 19, 19);
  border-radius: 10%;

  .calendar-event {
    font-size: 7px;
    color: rgb(255, 255, 255);
  }
}

.guest-button {
  text-align: center;
}

.home-button-box {
  display: flex;
  justify-content: space-evenly;
  margin: 50px;

  a {
    display: inline-block;
  }
}

.first_view {

  width: 100vw;

  height: 100vh;
  background: bottom/cover image-url('first_view.jpeg');

  h1 {
    color: white;
    font-size: 265px;
    letter-spacing: 55px;
    text-align: left;
  }

}